# Python
__pycache__/
*.py[cod]
*.class

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
local_settings.py
db.sqlite3
media/
*.sqlite3

# Environment
.env
.venv
venv/
ENV/
env/

# VS Code
.vscode/

# macOS
.DS_Store

# Node
node_modules/
opal-movement-planners/

